.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameboardbody {
  background-color:  rgb(21, 56, 66); 
  /* Your desired background color */
  height:100vh

}

.container26 { 
  display: flex; 
  flex-direction: column; 
} 

.header26 { 
  display: flex; 
  flex-direction: column; 
  padding: 10px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 



.button26 { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 0.5rem 0.8rem; 
  font-family: cursive; 
  /*width: 200px; */
  width:10%;
  font-size: 1.5rem; 
  font-weight: bolder; 
  border-radius: 0.7rem; 
  border-style: none; 
  background-color: red; 
  color: white; 
  margin-top: 4%; 
 /* margin-left: 55%; */
 margin-left: 46%; 
} 

.button26:hover { 
  border: 2px solid black; 
  cursor: pointer; 
}


/*
.board { 
  display: grid; 
  margin: auto; 
  margin-top: 3rem; 
  grid-template-columns: repeat(4, 9rem); 
  place-items: center; 
  row-gap: 2rem; 
} 
*/
.board26 {
  display: grid;
  margin: auto;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 15rem); /* Increase card width */
  place-items: center;
  row-gap: 3rem; /* Increase gap between rows */
}

.comments { 
  padding: 1rem 2rem; 
  background-color: white; 
  margin: auto; 
  margin-top: 50px; 
  text-align: center; 
  border-radius: 2rem; 
} 


.face { 
  height: 10rem; 
  width: 10rem;
  transition: transform ease-in 0.25s;
  position: absolute; 
} 

.back { 
  height: 8rem; 
  width: 8rem; 
  background-color: rgb(253, 218, 175); 
  color: rgb(61, 21, 21); 
  border: 1px solid black; 
  border-radius: 50%; 
} 

.item .face { 
  position: absolute; 
  transform: rotateY(90deg); 
  transition: all ease-in 0.25s; 
  

} 

.toggled .face { 
  transform: rotateY(0deg); 
  transition-delay: 0.25s; 
} 

.item .back { 
  transition: all ease-in 0.25s; 
  transition-delay: 0.25s; 
} 

.toggled .back { 
  transform: rotateY(90deg); 
  transition-delay: 0s; 
}



.timer {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
}


.popup-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0); /* semi-transparent overlay */
  width: 700px; 
  height: 300px;/* Adjust the width as needed */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popup-content {
  background: #fff;
  height: 100%; /* Ensure the content takes full height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ChildRightsInfo.css */

/* Define base styles */

/* ... (existing styles) ... */

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .button26 {
    width: 30%; /* Adjust button width for smaller screens */
    font-size: 1rem; /* Decrease font size for smaller screens */
    margin-left: 30%; /* Adjust button margin for centering on smaller screens */
  }

  .board26 {
    grid-template-columns: repeat(2, 15rem); /* Adjust card width for smaller screens */
    row-gap: 2rem; /* Adjust gap between rows for smaller screens */
  }

  .comments {
    margin-top: 20px; /* Adjust margin top for comments on smaller screens */
    padding: 0.5rem 1rem; /* Adjust padding for comments on smaller screens */
    border-radius: 1rem; /* Adjust border radius for comments on smaller screens */
  }

  .face {
    height: 8rem; /* Adjust face height for smaller screens */
    width: 8rem; /* Adjust face width for smaller screens */
  }

  .back {
    height: 6rem; /* Adjust back height for smaller screens */
    width: 6rem; /* Adjust back width for smaller screens */
  }

  .popup-overlay {
    width: 90%; /* Adjust the width of the overlay for smaller screens */
    height: 200px; /* Adjust the height of the overlay for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .popup-content {
    padding: 0.5rem; /* Adjust padding for content inside the overlay for smaller screens */
  }

  .timer {
    font-size: 1.5rem; /* Decrease font size for timer on smaller screens */
    margin-top: 1rem; /* Adjust margin top for timer on smaller screens */
  }

  /* Additional adjustments as needed */
}

.page {
  background-image: url(https://tse3.mm.bing.net/th?id=OIP.K6FRLX5-C3XEdpKWhD3oVgHaEK&pid=Api&P=0&h=180);
  background-size: cover; /* This ensures that the image covers the entire container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
  padding: 20px;
  color:black;
  font-family: Arial, sans-serif;
  height: 150vh; 
  font-size: 20px;
}
.quiz-button {
  background-color: #d6dbea; /* Use your desired color */
  color: #000000;
  padding: 15px 30px; /* Increase padding for larger dimensions */
  font-size: 18px; /* Increase font size for better visibility */
  border: none;
  border-radius: 8px; /* Increase border radius for rounded corners */
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px; /* Adjust as needed */
}
.options-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width:100%
  /* Add other styling as needed */
}
.quiz-option {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #2e1797; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /*flex: 1;
  margin: 10px;
  */
}
.quiz-container.custom-background {
  background-image: url(https://tse3.mm.bing.net/th?id=OIP.K6FRLX5-C3XEdpKWhD3oVgHaEK&pid=Api&P=0&h=180);
  /*background-color: peachpuff !important;*/
  background-size: cover; /* This ensures that the image covers the entire container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center;
  padding: 20px;
  height: 150vh; 
  
}
.quiz-option.correct-answer {
  background-color: green;
  color: white;
}

.quiz-option.wrong-answer {
  background-color: red;
  color: white;
}
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-content {
  display: flex;
  width: 100%;
}

.quiz-image {
  width: 40%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 40%; /* Adjust the margin as needed */
}

/* Add this CSS to your stylesheet or CSS file */
.clickable-box:hover {
  background-color: #fff; /* Change the background color on hover */
  border: 10px solid #222; /* Add a border on hover */
  border-radius: 5px; /* Add rounded corners to the box on hover */
  transition: background-color 0.3s, border 0.3s; /* Add a smooth transition for background color and border changes */
}

/* ProfileSelection.css */
/* Original styles */

.home-container {
  position: relative;
}

.h2-text {
  position: absolute;
  top: 15%;
  left: 40%;
  font-size: 50px;
  color: #222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 4);
}

.texts-style {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 30px;
  color: #222;
}

.box1-container {
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

.clickable-box {
  width: 550px;
  height: 350px;
  background-color: #dc143c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.image-style {
  width: 450px;
  height: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box1 {
  margin-left: 120px;
}

.box2 {
  margin-right: 100px;
}

.box1-text,
.box2-text {
  position: absolute;
  margin-top: 250px;
  font-size: 30px;
  color: #222;
}

/* Responsive styles for smaller screens */

@media screen and (max-width: 768px) {
  .h2-text {
    top: 10%;
    left: 25%;
    font-size: 30px;
  }

  .texts-style {
    top: 20%;
    left: 6%;
    font-size: 20px;
  }

  .box1-container {
    margin-top: 200px;
    margin-left: 60px;
    flex-direction: column;
  }

  .clickable-box {
    width: 80%;
    height: 250px;
  }

  .image-style {
    width: 70%;
    height: 150px;
  }

  .box1 {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .box2 {
    margin-right: 0;
  }

  .box1-text,
  .box2-text {
    margin-top: 170px;
    font-size: 20px;
  }
}


.homeContainer6 {
  min-height: 190vh;
  background-color: #F7DFF1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.textStyle9 {
  position: absolute;
  top: 12%;
  left: 36%;
  font-size: 60px;
  color: #222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 4);
}

.emojiContainer {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Set 8 emojis in a row */
  gap: 60px;
}

.emojiWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojiStyle {
  width: 160px;
  height: 160px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}


/* Add styles for other emojis similarly */

/* For screens smaller than 768px (tablets) */
@media (max-width: 768px) {
  .textStyle9 {
    font-size: 40px;
    top: 10%;
    left: 30%;
  }

  .emojiContainer {
    margin-top: 10%;
    grid-template-columns: repeat(3, 1fr); /* Display 3 emojis in a row */
    gap: 20px;
  }

  .emojiStyle {
    width: 150px;
    height: 150px;
  }
}

/* For screens smaller than 480px (mobile devices) */
@media (max-width: 480px) {
  .textStyle9 {
    font-size: 26px;
    top: 10%;
    left: 25%;
  }

  .emojiContainer {
    margin-top: 15%;
    grid-template-columns: repeat(2, 1fr); /* Display 2 emojis in a row */
    gap: 20px;
  }

  .emojiStyle {
    width: 120px;
    height: 120px;
  }
}

/* Add these styles to your CSS file */

.activities {
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  text-decoration: none;
  color: #333;
  margin: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 24px;
}

/* Add these styles to your CSS file */

/* Add these styles to your CSS file */

.pikachu-info {
  background-color: #f9f9f9;
  padding: 20px;
}

.pikachu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pikachu-image {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width of the image */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pikachu-text {
  text-align: center;
  text-transform: none;
}

.pikachu-text h1 {
  color: #f57c00;
  margin-bottom: 10px;
  font-size: 40px;
}

.pikachu-text p {
  color: #333;
  line-height: 1.6;
  font-size: 20px;
  text-transform: none;
  margin-top: 40px;
  margin-bottom: 60px;
}

.additional-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.additional-boxes {
  display: flex;
  flex-direction: column; /* Set boxes to stack vertically */
  align-items: center;
  margin-top: 20px;
}

.additional-box {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 1400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.additional-box h2 {
  color: #f57c00;
  margin-bottom: 10px;
  font-size: 24px;
}

.additional-box p {
  color: #333;
  line-height: 1.6;
  text-transform: none;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adjust the gap as needed */
}

.image-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap as needed */
}


.step-content {
  display: flex;
  align-items: center;
  font-size: 20px;
}


.step-content img {
  width: 250px; /* Adjust the image width */
  height: auto;
  margin-right: 20px;
}

.youtube-video {
  width: 50%;
  height: 415px;
}

@media screen and (max-width: 768px) {
  .pikachu-content {
    flex-direction: column;
  }

  .pikachu-text {
    text-align: center;
  }

  .pikachu-image {
    margin-bottom: 10px;
  }

  .step-content {
    flex-direction: column;
    text-align: center;
  }

  .step-content img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .additional-box {
    width: 300px;
  }

  .youtube-video {
    width: 320px;
    height: 250px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .image-grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; /* Adjust the gap as needed */
  }
}



.emoji-img {
  width: 60px;
  height: 60px;
}

.emoji-img2 {
  width: 150px;
  height: 150px;
  margin-top: 10%;
}

.username {
  font-size: 24px;
  font-weight: 500;
}

.custom-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}


.carousel {
  position: relative;
  top: 80px;
  width: 1400px;/* Adjust the max width as needed */
  right: 400px;
  overflow: hidden;
}

.carousel img {
  display: block;
  width: 1400px;
  height: 550px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}

.last-slide-container {
  background-image: url('https://marketplace.canva.com/EAFJebotzdY/1/0/1600w/canva-beige-floral-minimalist-linktree-background-Jr6vl3hxUDw.jpg');
  background-size: 100% auto; /* Adjust background-size as needed */
  width: 100%;
  height: 650px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.last-slide {
  text-align: center;
  margin-top: 50px;
}

.last-slide button {
  margin-top: 10px;
}

.last-slide h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 45px;
}


.quiz27-container {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV93te2bR9Y45H56G9Wz4CzxyH7j42QSTD3w&usqp=CAU');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.question27-section {
  text-align: center;
  
}

.answer27-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button127 {
  margin-top: 50px;
  padding: 100px; /* Increase button size */
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.correct27-answer {
  background-color: #4caf50; /* Green for correct answer */
  color: #fff;
}

.wrong27-answer {
  background-color: #f44336; /* Red for wrong answer */
  color: #fff;
}

.score27-section-box {
  background-color: #93f279;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  
}

.score27-section {
  display: inline;
}

.correct27-answer-text {
font-size: 20px;
font-weight: 500;
}

.box30 {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  &:focus {
    outline: none;
  }
}

.setting {
  align-self: flex-start;
  padding: 5px 10px;

  button {
    font-size: 15px;
  }

  input {
    font-size: 20px;
  }
}

.topWall {
  border-top: 4px solid black;
}

.rightWall {
  border-right: 4px solid black;
}

.bottomWall {
  border-bottom: 4px solid black;
}

.leftWall {
  border-left: 4px solid black;
}

.sol {
  div {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: peachpuff;
    display: inline-block;
  }
}

.currentPosition {
  div {
    background: salmon;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: block;
  }
}

.destination {
  div {
    background: SpringGreen;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: block;
  }
}

.currentPosition.destination {
  div {
    animation: rainbowBall 5s infinite;
  }
}

@keyframes rainbowBall {
  0%   {background-color: gold;}
  15%  {background-color: coral;}
  29%  {background-color: papayawhip;}
  43%  {background-color: darkseagreen;}
  57%  {background-color: lightcyan;}
  71% {background-color: dodgerblue;}
  84% {background-color: violet;}
  100% {background-color: indigo;}
}

#maze {
  margin-top: 105px;
  border-collapse: collapse;
  td {
    height: 35px;
    width: 35px;
  }
  
}

.info {
  width: 200px;
  position: absolute;
  top: 100px;
  background: cornsilk;
  padding: 3px;
  margin-left: 1200px;
  font-size: 20px;
  p {
    text-transform: uppercase;
    color: forestgreen;
  }
}

#gradient {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #b25579, #6aafc8, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.flippedEmoji {
  transform: scaleX(-1);
  display: inline-block;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

.app9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: black;
}

.score-board9 {
  background-color: #bac007;
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  border-radius: 10px;
  margin: 10px;
  margin-top: 50px;
}

/*  style for the game section */

.game9 {
  width: 500px; /* Set the width of the game container to 500px */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.game9 img {
  width: calc(12.5% - 10px); /* Adjust width to fit 8 candies per row */
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  transition: transform 0.3s ease-in-out;
  margin: 5px; /* Increase margin to match width adjustment */
}


.game9 img:hover {
  box-shadow: 0px 3px 6px gold;
  transform: scale(1.1);
}


/* Set variables for colors */
:root {
  --primary-color: black ;
  --secondary-color: yellow ;
  --body-font: 'Roboto', sans-serif;
}

/* Style the body */
  
/* Style the header */
.header9 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

}

/* Style the logo */
.logo9 img {
  height: 30px;
  border-radius: 50%;

}

/* Style the mute button */
.icon9 {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: auto;
}
.icon9 img {
  height: 20px;
  margin-right: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
}

/* Style the main content */

.main-body9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  margin-bottom: 1rem;
  font-family: var(--body-font);
  background-color: var(--primary-color);
}

.content9 {
  max-width: 800px;
  text-align: center;
}

/* Style the banner */
.banner9 {
  font-size: 15rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  padding: 2rem;
  font-family: 'Passion One', cursive;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px yellow;
  animation-name: shadow-pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 10px yellow;
  }
  50% {
    box-shadow: 0 0 20px yellow;
  }
  100% {
    box-shadow: 0 0 10px yellow;
  }
}


/* Style the motto */
.motto9 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 0 0 5px yellow;
  position: relative;
}

/* Style the start game button */
.start-game9 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  margin: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.start-game9:hover {
  transform: scale(1.05);
}

/* Style the candy crush image */
.candy-crush-image9 {
  width: 400px;
  margin: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4.5rem;
}

.candy-crush-image19 {
  width: 400px;
  margin: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4.5rem;
}

.candy9-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px;
  border-radius: 4.5rem;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 800px;
}

.candy19-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px;
  border-radius: 4.5rem;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 800px;
  position: relative;
  bottom: 480px;
}

.candy9-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.candy19-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/* Style the footer */
.footer9 {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.about9{

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #000000;
  height: 660px;
}

.about9-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: black;
  padding: 1rem;
  margin: 50px;
  margin-bottom: 2rem;
}

.about9-body {
 
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
}

/* Add these styles to your CSS file */
.home-about {
  display: flex;
  justify-content: flex-end; /* Adjust alignment to the right */
  margin-top: 20px; /* Add margin-top as needed */
}

.candy1 {
  width: 100px; /* Adjust the width of the image */
  height: 100px; /* Adjust the height of the image */
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 100px;
}

.candy2 {
  width: 100px; /* Adjust the width of the image */
  height: 100px; /* Adjust the height of the image */
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 100px;
}

.candy3 {
  width: 80px; /* Adjust the width of the image */
  height: 80px; /* Adjust the height of the image */
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 75px;
}

.candy4 {
  width: 80px; /* Adjust the width of the image */
  height: 80px; /* Adjust the height of the image */
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 75px;
}

.about-instructions h1{
  font-size: 30px;
  font-weight: 600;
}

.about-instructions h2{
  font-size: 24px;
  font-weight: 600;
  color: #2e1797;
}

.about-instructions p{
  font-size: 18px;
  font-family:cursive;
  text-transform: none;
}


/* Rights.css */
.background75 {
  background-image: url('https://st.depositphotos.com/1605581/2285/i/450/depositphotos_22858404-stock-photo-abstract-blue-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.card75-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards */
  margin: -15px; /* Adjust negative margin to remove extra space between cards */
  max-width: 800px; /* Set max-width for responsiveness */
  margin-left: auto;
  margin-right: auto;
}

.card75 {
  flex: 0 0 calc(50% - 30px); /* Adjust width and margin as needed */
  margin: 15px;
  box-sizing: border-box; /* Ensure that padding and borders are included in the width */
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.card75:hover {
  transform: scale(1.05); /* Increase the scale on hover for a zoom effect */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Enhance box shadow on hover */
}

.card75-img-top {
  transition: transform 0.3s;
  border-radius: 10px 10px 0 0; /* Apply border-radius only to the top corners of the image */
}

.card75:hover .card75-img-top {
  transform: scale(1); /* Reset the scale on hover for the image */
}

.card75-body {
  padding: 20px;
}

.card75-title {
  margin-bottom: 10px;
  font-size: 2rem; /* Adjust font size for smaller screens */
  color: #333; /* Set text color */
}

.btn-outline-warning {
  color: #f8f9fa; /* Set text color for the button */
  background-color: #000000; /* Set button background color */
  border-color: #000000; /* Set button border color */
}

/* Add responsive styles for smaller screens */
@media (max-width: 767px) {
  .card75 {
    flex: 0 0 calc(100% - 30px);
  }

  .card75-title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}



/* Add this to your existing CSS file or create a new one */
.background175 {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Adjust padding for inner spacing */
  margin-top: 20px;
  width: 300px;
  text-align: center;
  backdrop-filter: blur(5px);
  transition: background-color 0.5s;
  height: 400px;
}

.login-form:hover {
  background-color: rgba(255, 255, 255, 1);
}

.login-form h1 {
  font-size: 30px;
  margin-top: 20px;
}

.login-image {
  width: 450px;
  height: 600px;
  margin-left: 15%;
  margin-top: -5%;
  border-radius: 10px;
}

.inputbox {
  position: relative;
  margin-bottom: 40px;
}

input {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  font-size: 16px;
  transition: border-bottom 0.3s, color 0.3s;
}

input:focus {
  border-bottom: 2px solid #333;
}

label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #888;
  pointer-events: none;
  transition: 0.3s;
}

.inputbox input:focus + label,
.inputbox input:valid + label {
  top: -12px;
  font-size: 12px;
  color: #333;
}

.inputbox label.active {
  top: -12px;
  font-size: 12px;
  color: #333;
}

/* Add these styles to your existing styles or in a separate CSS file */

.login2-button {
  background-color: #4c78af; /* Green background color */
  color: white; /* White text color */
  padding: 15px 20px; /* Padding for the button */
  width: 200px;
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition for background color */
  margin-top: 20px;

  /* Hover effect */
}

.login2-button:hover {
  background-color: #4560a0; /* Darker green on hover */
}
@media only screen and (max-width: 768px) {
  .login-section {
    height: auto; /* Adjust height for smaller screens */
  }

  .login-form {
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 90%; /* Added max-width for smaller screens */
    position: relative;
    margin-top: 150px;
    margin-left: -240px;
  }

  .login-form h1 {
    font-size: 6vw; /* Adjusted font-size for smaller screens */
  }

  .login-image {
    height: 100px;
    width: 100px;
    position: relative;
    margin-bottom: 350px;
    margin-left: 160px;

  }

  .inputbox {
    margin-bottom: 3vw; /* Adjusted margin for smaller screens */
  }

  input {
    padding: 3vw; /* Adjusted padding for smaller screens */
    margin-top: 1.5vw; /* Adjusted margin for smaller screens */
    font-size: 3vw; /* Adjusted font-size for smaller screens */
  }

  label {
    top: 1.5vw; /* Adjusted top for smaller screens */
    left: 1.5vw; /* Adjusted left for smaller screens */
  }

  .login2-button {
    padding: 3vw 4vw; /* Adjusted padding for smaller screens */
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 90%; /* Added max-width for smaller screens */
    font-size: 3vw; /* Adjusted font-size for smaller screens */
    margin-top: 3vw; /* Adjusted margin for smaller screens */
  }
}








.container12 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

#youtube {
  display: none;
}

@media (min-height: 425px) {
  /** Youtube logo by https://codepen.io/alvaromontoro */
  #youtube {
    z-index: 2;
    display: block;
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: red;
    border-radius: 50% / 11%;
    transform: scale(0.8);
    transition: transform 0.5s;
  }

  #youtube:hover,
  #youtube:focus {
    transform: scale(0.9);
  }

  #youtube::before {
    content: "";
    display: block;
    position: absolute;
    top: 7.5%;
    left: -6%;
    width: 112%;
    height: 85%;
    background: red;
    border-radius: 9% / 50%;
  }

  #youtube::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 45px;
    height: 30px;
    border: 15px solid transparent;
    box-sizing: border-box;
    border-left: 30px solid white;
  }

  #youtube span {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}


.back-container {
  position: absolute;
  left: 30px;
  top: 95px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-size: 35px;
  background-color: #fff;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
  background-color: #000000;
  color: #ffffff;
}

